<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />
  <style>
    table {
      white-space: nowrap;
      width: 100%;
    }

    td {
      max-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: fit-content;
    }
  </style>
</head>

<body class="flex flex-col p-8 gap-4 dark:bg-gray-900 antialiased">
  <div class="flex flex-row gap-4">
    <img src="{{ url_for("images", path=name) }}">
    <div class="flex flex-col w-full content-center gap-8 text-center">
      <!-- [작물 부위]부분이며 [병해]에 걸렸습니다. 병의 진행단계는 [질병 피해정도]입니다. 해당 작물은 현재 [생육단계] 입니다.  -->
      <h1 class="text-xl font-semibold text-white">{{ title }}</h1>
    </div>
  </div>

</body>

</html>